{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <!-- <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title> -->
    <title>{{ site.title|e('html') }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {% do assets.addCss('theme://resources/fontello/css/fontello.css', 98) %}
        {% do assets.addCss('theme://resources/lightGallery-master/dist/css/lightgallery.min.css', 97) %}
        {% do assets.addCss('theme://resources/lightslider-master/dist/css/lightslider.min.css', 97) %}
        {% do assets.addCss('theme://resources/app.min.css', 96) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://resources/app.min.js', 99) %}
        {% do assets.addJs('theme://resources/lightGallery-master/dist/js/lightgallery.min.js', 98) %}
        {% do assets.addJs('theme://resources/lightslider-master/dist/js/lightslider.min.js', 97) %}
        {% do assets.addJs('theme://resources/Mason-master/dist/mason.min.js', 97) %}
        {% do assets.addJs('theme://resources/backend_dev.js', 96) %}
    {% endblock %}
    {{ assets.js() }}
{% endblock head%}
</head>

<body>
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
</body>

<script>
$( document ).ready(function(){
  localStorage.setItem('endpoint', '{{ config.plugins.photocontainer.endpoint }}')
  localStorage.setItem('domain', '{{ config.plugins.photocontainer.domain }}')

  {% if grav.user.id is not null %}
  if (localStorage.user != "" && localStorage.user != {{ grav.user.id }}) {
    localStorage.clear()
  }

  if (localStorage.getItem('logged_in') === null) {
    localStorage.setItem('logged_in', true)
    localStorage.setItem('profile', {{ grav.user.profile }})
    localStorage.setItem('fullname', '{{ grav.user.fullname }}')
    localStorage.setItem('email', '{{ grav.user.email }}')
    localStorage.setItem('user', {{ grav.user.id }})
  }
  {%  endif %}
})
</script>

</html>
