{% set thumb_class = 'card thumb-gallery ratio-1by1' %}
{% if type %}
    {% set thumb_class = thumb_class ~ ' thumb-gallery-' ~ type %}
{% endif %}
{% if not col %}
    {% set col = "col-md-3" %}
{% endif %}

<div class="{{col}} search-result-thumb" data-src="{{ data.thumb }}" id="event-thumb-{{ data.id }}">
  <div class="{{thumb_class}}">
    <img alt='' src="{{ data.thumb }}">
    <div class="card-text">
      <div class="card-text-inner">
        {% if data.context in ["gallery_photographer", "gallery_publisher"] %}
          <p class="album-name"><a href="#">{{ data.title }}</a></p>
          <p class="album-type"><a href="#">{{ data.category }}</a></p>
          <p class="image-count"><span>{{ data.photos }}</span> fotos</p>
          <p class="date">Criado em {{ data.eventdate }}</p>
          <p class="fav-count">{{ data.likes }} Likes</p>
        {% endif %}

        {% if data.context == "gallery_photographer" and profile == 'photographer' and data.photographer_id == logged_user_id %}
        <ul class="nav">
          <li class="nav-item"><a class="nav-link event-remove" data-event="{{ data.id }}" href="#"><i class="icon-trash"></i>Remover</a></li>
          <li class="nav-item"><a class="nav-link" href="./gallery/edit?id={{ data.id }}"><i class="icon-pencil"></i>Editar</a></li>
        </ul>
        {% endif %}

        {% if data.context == "gallery_publisher" and profile == 'publisher' %}
        <p class="photo-name">Fotógrafo {{ data.photographer }}</p>
        <ul class="nav">
          <li class="nav-item">
            <a {% if data.publisher_like == true %}style="display: none;"{% endif %} class="nav-link event-like" data-likeevent="{{ data.id }}" href="#"><i class="icon-star"></i>Like</a>
            <a {% if data.publisher_like == false %}style="display: none;"{% endif %} class="nav-link event-dislike" data-dislikeevent="{{ data.id }}" href="#"><i class="icon-star"></i>Dislike</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/gallery/photos?id={{ data.id }}"><i class="icon-trash"></i>Fotos</a></li>
        </ul>
        {% endif %}

        {% if data.context == "gallery_photos_publisher" %}
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="#"><i class="icon-star"></i>Favoritar</a></li>
          <li class="nav-item download-image"><a class="nav-link" href="{{ api_endpoint }}photo/{{ data.id }}/user/{{ logged_user_id }}/download"><i class="icon-download"></i>Download</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
