{% set thumb_class = 'card thumb-gallery ratio-1by1' %}
{% if type %}
    {% set thumb_class = thumb_class ~ ' thumb-gallery-' ~ type %}
{% endif %}
{% if not col %}
    {% set col = "col-md-3" %}
{% endif %}

<div class="{{col}} search-result-thumb" data-src="{{ data.thumb }}" id="event-thumb-{{ data.id }}">
    <div class="{{thumb_class}}">
        <img alt='' src="{{ data.thumb }}">
        <div class="card-text">
            <div class="card-text-inner">

                {% if show %}
                    {% for key, value in show %}

                        {% if value == 'album-type' %}  <p class="album-type">{{ data.category }}</p>{% endif %}
                        {% if value == 'image-count' %} <p class="image-count"><span>{{ data.photos }}</span> fotos</p> {% endif %}
                        {% if value == 'album-name' %}  <p class="album-name">{{ data.title }}</p>{% endif %}
                        {% if value == 'date' %}        <p class="">{{ data.eventdate }}</p>{% endif %}
                        {% if value == 'photo-label' %} <p class="photo-label">Fotógrafo</p>{% endif %}
                        {% if value == 'photo-name' %}  <p class="photo-name">{{ data.photographer }}</p>{% endif %}
                        {% if value == 'fav-count' %}   <p class="fav-count"><i class="icon-star"></i>{{ data.likes }} Like</p>{% endif %}
                        {% if value == 'icon' and data.photographer_id == logged_user_id %}
                            {% if data.photographer_id == logged_user_id %}
                                <p class="icon"><a href="/gallery/edit?id={{ data.id }}"><i class="icon-search"></i></a></p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    <ul class="nav">
                        {% if data.photographer_id == logged_user_id %}
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="icon-star"></i></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/#"><i class="icon-pencil"></i></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link event-remove" data-event="{{ data.id }}" href="/#"><i class="icon-trash"></i>Remover</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/#"><i class="icon-download"></i></a>
                            </li>
                        {% endif %}

                        {% if profile == "publisher" %}
                            <li class="nav-item">
                                <a {% if data.publisher_like == true %}style="display: none;"{% endif %} class="nav-link event-like" data-likeevent="{{ data.id }}" href="/#"><i class="icon-star"></i>Like</a>
                                <a {% if data.publisher_like == false %}style="display: none;"{% endif %} class="nav-link event-dislike" data-dislikeevent="{{ data.id }}" href="/#"><i class="icon-star"></i>Dislike</a>
                            </li>
                        {% endif %}

                        </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
