{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="app page-add-gallery">
  {%
  include 'partials/components/page-header.twig' with {
    'title': 'Criar Álbum',
    'show': ['title','nav-add-gallery'],
    'class': 'page-header-add',
    'class_nav_steps': 'nav-steps-ph',
  }
  %}
  <div class="container">
    <div class="tab-content">
      <form class="tab-pane step1 fade show active" id="evento" role="tabpanel">
        <h4 class="title mb-5">Evento</h4>
        <h5 class="title mb-3">Selecione as categorias *</h5>
        <div data-toggle="buttons" id="categories-button-group"></div>
        <label class="error msg-error" for="categories[]" style="display: none;"></label>
        <h5 class="title mb-3 mt-5">Informações do evento *</h5>
        <div class="row row-lg">

          <!-- COL 1 -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Nome da noiva *</label>
              <input id="input-bride" name="input-bride" type="text" class="form-control" required>
              <label class="error msg-error" for="input-bride" style="display: none;"></label>
            </div>
            <div class="form-group">
              <label>Nome do noivo *</label>
              <input id="input-groom" name="input-groom" type="text" class="form-control" required>
              <label class="error msg-error" for="input-groom" style="display: none;"></label>
            </div>
            <label>Data do evento *</label>
            <div class="row row-xs">
              <div class="col-3">
                <div class="form-group">
                  <select id="select-day" name="select-day" class="form-control" required>
                    <option selected="true" value="" disabled="disabled">Dia</option>
                    {% for day in 1..31 %}
                    <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                  </select>
                  <label class="error msg-error" for="select-day" style="display: none;"></label>
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <select id="select-month" name="select-month" class="form-control" required>
                    <option selected="true" disabled="disabled">Mês</option>
                    <option value="01">Janeiro</option>
                    <option value="02">Fevereiro</option>
                    <option value="03">Março</option>
                    <option value="04">Abril</option>
                    <option value="05">Maio</option>
                    <option value="06">Junho</option>
                    <option value="07">Julho</option>
                    <option value="08">Agosto</option>
                    <option value="09">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                  </select>
                  <label class="error msg-error" for="select-month" style="display: none;"></label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <select id="select-year" name="select-year" class="form-control" required>
                    <option selected="true" disabled="disabled">Ano</option>
                    {% for year in 2013.."now"|date("Y") %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                  </select>
                  <label class="error msg-error" for="select-year" style="display: none;"></label>
                </div>
              </div>
            </div>
          </div>

          <!-- COL 2 -->
          <div class="col-md-4">
            <div class="form-group">
              <label>País *</label>
              <select id="input-country" name="input-country" class="form-control" required>
                <option selected="" value="" disabled="disabled">Selecione</option>
              </select>
              <label class="error msg-error" for="input-country" style="display: none;"></label>
            </div>
            <div class="localization-extra-fields" style="display: none">
              <div class="form-group">
                <label>Estado *</label>
                <select id="input-state" name="input-state" class="form-control" required>
                  <option selected="true" disabled="disabled">Selecione</option>
                </select>
                <label class="error msg-error" for="input-state" style="display: none;"></label>
              </div>
              <div class="form-group">
                <label>Cidade *</label>
                <select id="input-city" name="input-city" class="form-control" required>
                  <option selected="true" disabled="disabled">Selecione</option>
                </select>
                <label class="error msg-error" for="input-city" style="display: none;"></label>
              </div>
            </div>
          </div>

          <!-- COL 3 -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Título *</label>
              <input id="input-title" name="input-title" type="text" class="form-control" required>
              <label class="error msg-error" for="input-title" style="display: none;"></label>
            </div>
            <div class="form-group">
              <label>
                Descrição *
                <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
              </label>
              <textarea id="input-description" name="input-description" class="form-control" required></textarea>
              <label class="error msg-error" for="input-description" style="display: none;"></label>
            </div>
          </div>

        </div>

        <h5 class="title mb-3 mt-5">Preferências *</h5>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-general" name="input-approval" type="checkbox" class="form-check-input" required>
            <span>Liberado</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
          <!-- <label class="error msg-error" for="input-approval-general" style="display: none;"></label> -->
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-photographer" name="input-approval" type="checkbox" class="form-check-input" required>
            <span>Liberado pelo fotógrafo</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
          <!-- <label class="error msg-error" for="input-approval" style="display: none;"></label> -->
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-bride" name="input-approval" type="checkbox" class="form-check-input" required>
            <span>Liberado pelos noivos</span>
          </label>
          <label class="error msg-error" for="input-approval" style="display: none;"></label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-terms" name="input-terms" type="checkbox" class="form-check-input" required>
            <span>Aceito os <a class="link">Termos e Condições de uso</a></span>
          </label>
          <label class="error msg-error" for="input-terms" style="display: none;"></label>
        </div>
      </form>
      <form class="tab-pane step2 fade" id="fornecedores" role="tabpanel">
        <h5 class="title mb-3 mt-5">Informações do evento</h5>
        <div class="row row-lg">

            {%
            set forn_labels = [
                ['Fotos', 'fotos'],
                ['Filmagem', 'filmagem'],
                ['Cerimonial', 'cerimonial'],
                ['Decoração', 'decoracao'],
                ['Lista de presentes', 'presentes'],
                ['Buffet', 'buffet'],
                ['Doces', 'doces'],
                ['Bebidas', 'bebidas'],
                ['Música', 'musica'],
                ['Salão de festa', 'festa'],
                ['Salão de beleza', 'beleza'],
                ['Roupas', 'roupas'],
                ['Sapatos', 'sapatos'],
                ['Alianças', 'aliancas'],
                ['Local cerimônia', 'local']
              ]
            %}
            {% set forn_max =   5 %}
            {% set forn_count = 0 %}
            {% set forn_total = 0 %}

            {% for value in forn_labels %}
              {% if forn_count == 0 %}
                <div class="col-md-4">
              {% endif %}
              {% set forn_count = forn_count+1 %}
              {% set forn_total = forn_total+1 %}
            <div class="form-group">
              <label>{{ value[0] }}</label>
              <div class="form-control-fields">
                <div id="campo-{{ value[1] }}"  class="form-control-close">
                  <input name="supplier[{{ value[1] }}][]" type="text" class="form-control" required>
                  <button type="button" class="close" data-toggle="remove" data-target="_parent">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <label class="error msg-error" for="supplier[{{ value[1] }}][]" style="display: none;"></label>
              </div>
              <small class="form-text text-muted text-right">
                <a data-toggle="clone" class="link btn-add-field-{{ value[1] }}" data-target="#campo-{{ value[1] }}">Adicionar</a>
              </small>
            </div>
            {% if (forn_count == forn_max) or (forn_total == 15) %}
              </div>
              {% set forn_count = 0 %}
            {% endif %}
          {% endfor %}
        </div>
      </form>
      <form class="tab-pane step3 fade" id="caracteristicas" role="tabpanel">
        <h4 class="title mb-4">Características</h4>
        {% include 'partials/components/filters.twig' with {'validate':1} %}
      </form>
      <form class="tab-pane step4 fade" id="fotos" role="tabpanel">

        <div class="upload-area-inner drop-feedback" style="pointer-events: none; display: none;">
          <i class="icon-alert"></i>
          <h2 class="mb-5 text-uppercase">Você selecionou mais 30 imagens</h2>
          <h6 class="text-muted text-uppercase">Somente as 30 primeiras serão adicionadas ao álbum.</h6>
          <h6 class="text-muted text-uppercase">Para enviar uma nova foto, exclua uma que ainda não foi utilizada.</h6>
        </div>

        <div class="upload-area">
          <div class="upload-area-inner drop-area" style="pointer-events: none;">
            <i class="icon-upload"></i>
            <h2 class="mb-5 text-uppercase">Arraste suas fotos para esta área</h2>
            <h6 class="text-muted text-uppercase">Ou busque no seu HD</h6>
            <div class="dropzone-feedback"></div>
            <button class="btn btn-ph px-5" id="btn-buscar" style="pointer-events: none;">Buscar</button>
          </div>
        </div>
        <div class="row row-sm"  id="previews">
          {%
          include 'partials/components/thumb-gallery.twig' with {
            'type': '',
            'id': 'template',
            'img_attr': 'data-dz-thumbnail',
            'remove_attr': 'data-dz-remove',
            'col': 'col-lg-3 col-md-4 col-sm-6 col-12',
            'show': [
              'nav',
              'upload_progress'
            ],
            'nav': [
              'trash'
            ]
          }
          %}
        </div>
      </form>
    </div>
  </div>

  {% include 'partials/components/add-gallery-footer.twig' %}
</div>

<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script>
$( document ).ready(function() {
  $("#input-country").on('change', function (e) {
    if ($("#input-country :selected").val() == 1) {
      $('.localization-extra-fields').show()
    } else {
      $('.localization-extra-fields').hide()

      $('.localization-extra-fields :input').each(function(){
        $(this).val('')
      })
    }

    Cep.loadStates(localStorage.endpoint)
  })

  $("#input-state").on('change', function (e) {
    Cep.loadCities(localStorage.endpoint)
  })

  Event.loadCategories(localStorage.endpoint)
    .then(Event.loadTags(localStorage.endpoint)
      .then(Cep.loadCountries(localStorage.endpoint))
        .then(Event.loadEvent(localStorage.endpoint)))

  Event.createHandler(localStorage.endpoint, localStorage.user);

  var maxFilesLimit = 30;
  var countAdded = 0;

  $('.end-add-gallery-tab').on('click',function(){
      window.location.href = '/success?id='+Event.id;
  });

  var previewNode = document.querySelector("#template");
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);
  new Dropzone(".upload-area", {
      maxFiles: maxFilesLimit,
      parallelUploads: 5,
      url: localStorage.endpoint+'photo',
      previewTemplate: previewTemplate,
      previewsContainer: "#previews",
      init: function() {
          this.on("success", function(file, responseText) {
              $('.dropzone-feedback').html(dropzoneFeedback());
              console.log(responseText);
              console.info("success");
          });
          this.on('sending', function(file, xhr, formData) {
              formData.append('event_id', Event.id);
              console.info("sending");
          });
          this.on("queuecomplete", function (file) {
              $('.end-add-gallery-tab').prop("disabled", false);
              console.info("queuecomplete");
          });
          this.on("addedfile", function(file) {
              $('.dropzone-feedback').html(dropzoneFeedback());
              console.info("addedfile");
              countAdded++;
              if (countAdded > 30) {
                  $('.drop-area').hide();
                  $('.drop-feedback').show();
                  console.info("maxfilesreached");
              }
          });
          this.on("processing", function(file) {
              $('.end-add-gallery-tab').prop("disabled", true);
              console.info("processing");
          });
          this.on("removedfile", function(file) {
              var total = $('.thumb-gallery').length;
              console.info(total);
              if (total < 30) {
                  $('.drop-area').show();
                  $('.drop-feedback').hide();
                  $('.dropzone-feedback').html(dropzoneFeedback());
              }
              console.info("removedfile");
          });
          this.on("error", function(file, message) {
              console.error(message);
              this.removeFile(file);
          });
      },
      method: "POST",
      withCredentials: false,
      headers: {
          "Cache-Control": null,
          "X-Requested-With": null
      }
  });

  function dropzoneFeedback() {
      var total = $('.thumb-gallery').length;
      return "Você já enviou "+total+" foto de "+maxFilesLimit+" permitida.";
  }

})
</script>

{% endblock %}
