{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="app page-add-gallery">
  {%
  include 'partials/components/page-header.twig' with {
    'title': 'Criar Álbum',
    'show': ['title','nav-add-gallery'],
    'class': 'page-header-add',
    'class_nav_steps': 'nav-steps-ph',
  }
  %}
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="evento" role="tabpanel">
        <h4 class="title mb-5">Evento</h4>
        <h5 class="title mb-3">Selecione as categorias</h5>
        <div data-toggle="buttons" id="categories-button-group"></div>
        <h5 class="title mb-3 mt-5">Informações do evento</h5>
        <div class="row row-lg">

          <!-- COL 1 -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Nome da noiva</label>
              <input id="input-bride" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Nome do noivo</label>
              <input id="input-groom" type="text" class="form-control">
            </div>
            <label>Data do evento</label>
            <div class="row row-xs">
              <div class="col-3">
                <div class="form-group">
                  <select id="select-day" class="form-control">
                    <option selected="true" disabled="disabled">Dia</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                  </select>
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <select id="select-month" class="form-control">
                    <option selected="true" disabled="disabled">Mês</option>
                    <option value="04">Abril</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <select id="select-year" class="form-control">
                    <option selected="true" disabled="disabled">Ano</option>
                    <option value="2017">2017</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- COL 2 -->
          <div class="col-md-4">
            <div class="form-group">
              <label>País</label>
              <select id="input-country" class="form-control">
                <option selected="true" disabled="disabled">Selecione</option>
                <option value="1">Brasil</option>
              </select>
            </div>
            <div class="form-group">
              <label>Estado</label>
              <select id="input-state" class="form-control">
                <option selected="true" disabled="disabled">Selecione</option>
              </select>
            </div>
            <div class="form-group">
              <label>Cidade</label>
              <select id="input-city" class="form-control">
                <option selected="true" disabled="disabled">Selecione</option>
              </select>
            </div>
          </div>

          <!-- COL 3 -->
          <div class="col-md-4">
            <div class="form-group">
              <label>Título</label>
              <input id="input-title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>
                Descrição
                <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
              </label>
              <textarea id="input-description" class="form-control"></textarea>
            </div>
          </div>

        </div>

        <h5 class="title mb-3 mt-5">Preferências</h5>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-general" type="checkbox" class="form-check-input">
            <span>Liberado</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-photographer" type="checkbox" class="form-check-input">
            <span>Liberado pelo fotógrafo</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-approval-bride" type="checkbox" class="form-check-input">
            <span>Liberado pelos noivos</span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input id="input-terms" type="checkbox" class="form-check-input">
            <span>Aceito os <a class="link">Termos e Condições de uso</a></span>
          </label>
          <a class="btn-help" data-toggle="tooltip" data-placement="top" title="Quis est tam dissimile homini. Sed quot homines, tot sententiae."><i class="icon-help-circled"></i></a>
        </div>
      </div>
      <div class="tab-pane fade" id="fornecedores" role="tabpanel">
        <h5 class="title mb-3 mt-5">Informações do evento</h5>
        <div class="row row-lg">

            {%
            set forn_labels = [
                ['Fotos', 'fotos'],
                ['Filmagem', 'filmagem'],
                ['Cerimonial', 'cerimonial'],
                ['Decoração', 'decoracao'],
                ['Lista de presentes', 'presentes'],
                ['Buffet', 'buffet'],
                ['Doces', 'doces'],
                ['Bebidas', 'bebidas'],
                ['Música', 'musica'],
                ['Salão de festa', 'festa'],
                ['Salão de beleza', 'beleza'],
                ['Roupas', 'roupas'],
                ['Sapatos', 'sapatos'],
                ['Alianças', 'aliancas'],
                ['Local cerimônia', 'local']
              ]
            %}
            {% set forn_max =   5 %}
            {% set forn_count = 0 %}
            {% set forn_total = 0 %}

            {% for value in forn_labels %}
              {% if forn_count == 0 %}
                <div class="col-md-4">
              {% endif %}
              {% set forn_count = forn_count+1 %}
              {% set forn_total = forn_total+1 %}
            <div class="form-group">
              <label>{{ value[0] }}</label>
              <div class="form-control-fields">
                <div id="campo-{{ value[1] }}"  class="form-control-close">
                  <input name="supplier[{{ value[1] }}][]" type="text" class="form-control">
                  <button type="button" class="close" data-toggle="remove" data-target="_parent">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
              </div>
              <small class="form-text text-muted text-right">
                <a data-toggle="clone" class="link btn-add-field-{{ value[1] }}" data-target="#campo-{{ value[1] }}">Adicionar</a>
              </small>
            </div>
            {% if (forn_count == forn_max) or (forn_total == 15) %}
              </div>
              {% set forn_count = 0 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="tab-pane fade" id="caracteristicas" role="tabpanel">
        <h4 class="title mb-4">Características</h4>
        {{ include('partials/components/filters.twig') }}
      </div>
      <div class="tab-pane fade" id="fotos" role="tabpanel">
        <div class="upload-area">
          <div class="upload-area-inner" style="pointer-events: none;">
            <i class="icon-upload"></i>

            <h2 class="mb-5 text-uppercase">Arraste suas fotos para esta área</h2>
            <h6 class="text-muted text-uppercase">Ou busque no seu HD</h6>
            <button class="btn btn-ph px-5" id="btn-buscar" style="pointer-events: none;">Buscar</button>

            <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
            <script>
                $( document ).ready(function() {
                    var previewNode = document.querySelector("#template");
                    var previewTemplate = previewNode.parentNode.innerHTML;
                    previewNode.parentNode.removeChild(previewNode);
                    new Dropzone(".upload-area", {
                        url: localStorage.endpoint+'/photo',
                        previewTemplate: previewTemplate,
                        previewsContainer: "#previews",
                        init: function() {
                            this.on("success", function(file, responseText) {
                                console.log(responseText);
                            });
                            this.on('sending', function(file, xhr, formData){
                                formData.append('event_id', Event.id);
                            });
                            this.on("queuecomplete", function (file) {
                                console.log(file);
                            });
                            this.on("addedfile", function(file) {
                                console.log("Added file.");
                            });
                            this.on("processing", function(file) {
                                console.log(file);
                            });
                        },
                        method: "POST",
                        withCredentials: false,
                        headers: {
                            "Cache-Control": null,
                            "X-Requested-With": null
                        }
                    });
                });
            </script>

          </div>
        </div>
        <div class="row row-sm"  id="previews">

            {%
            include 'partials/components/thumb-gallery.twig' with {
              'type': '',
              'id': 'template',
              'img_attr': 'data-dz-thumbnail',
              'remove_attr': 'data-dz-remove',
              'col': 'col-lg-3 col-md-4 col-sm-6 col-12',
              'show': [
                'nav',
                'upload_progress'
              ],
              'nav': [
                'trash'
              ]
            }
            %}

        </div>
      </div>
    </div>
  </div>

  {% include 'partials/components/add-gallery-footer.twig' %}
</div>

<script>
  Event.createHandler(localStorage.endpoint, localStorage.user);
  Event.loadCategories(localStorage.endpoint)
    .then(Event.loadTags(localStorage.endpoint)
      .then(Event.loadEvent(localStorage.endpoint)))

  $("#input-country").on('change', function (e) {
    Cep.loadStates(localStorage.endpoint)
  })

  $("#input-state").on('change', function (e) {
    Cep.loadCities(localStorage.endpoint)
  })
</script>

{% endblock %}
